/* Design based on medium */

body { background-color: white; color: #333332; margin: 10px; padding: 0px; font-family: 'Roboto Light', sans-serif; height: 15000px; overflow: hidden; backface-visibility: hidden }
body.loaded { height: auto; overflow: auto }
h1, h2, h3, h4 { font-family: 'Roboto Light', sans-serif; font-weight: normal; margin: 0px; padding: 0px }
h1 { font-size: 32px; line-height: 1.2em; font-weight: bold; letter-spacing: -0.5px; margin-bottom: 5px }
h2 { margin-top: 2em }
h3 { font-size: 24px; margin-top: 2em }
h1 + h2, h2 + h3 { margin-top: inherit }

p { margin-top: 0.9em; margin-bottom: 0.9em }
hr { margin: 20px 0px; border: none; border-bottom: 1px solid #eee; margin-left: auto; margin-right: auto; width: 120px; }
small { font-size: 80%; color: #999; }

a { border-bottom: 1px solid #3498db; text-decoration: none; color: black; font-weight: bold }
a.nolink { border-bottom: none }
a:hover { color: #3498db }

.button {
	padding: 5px 10px; margin-left: 10px; background-color: #DDE0E0; border-bottom: 2px solid #999998; background-position: left center;
	border-radius: 2px; text-decoration: none; transition: all 0.5s ease-out; color: #333
}
.button:hover { background-color: #FFF400; border-color: white; border-bottom: 2px solid #4D4D4C; transition: none; color: inherit }
.button:active { position: relative; top: 1px }

/*.button-delete { background-color: #e74c3c; border-bottom-color: #A83F34; color: white }*/
.button-outline { background-color: white; color: #CACACA; border: 1px solid #eee }

.button-delete:hover { background-color: #FF5442; border: 1px solid #FF5442; color: white }
.button-ok:hover { background-color: #27AE60; border: 1px solid #27AE60; color: white }

.button.loading {
	color: rgba(0,0,0,0); background: #999 url(../img/loading.gif) no-repeat center center;
	transition: all 0.5s ease-out; pointer-events: none; border-bottom: 2px solid #666
}
.button.publish { background-color: #2ecc71; border-color: #2ecc71; color: white }
.button.publish:hover { background-color: #35D679; border-color: #35D679 }

.cancel { margin-left: 10px; font-size: 80%; color: #999; }


.template { display: none }

/* Editable */
.editable { outline: none }
.editable-edit:hover { opacity: 1; border: none; color: #333 }
.editable-edit {
	opacity: 0; float: left; margin-top: 0px; margin-left: -40px; padding: 8px 20px; transition: all 0.3s; width: 0px; display: inline-block; padding-right: 0px;
	color: rgba(100,100,100,0.5); text-decoration: none; font-size: 18px; font-weight: normal; border: none;
}
/*.editing { white-space: pre-wrap; z-index: 1; position: relative; outline: 10000px solid rgba(255,255,255,0.9) !important; }
.editing p { margin: 0px; padding: 0px }*/ /* IE FIX */
.editor { width: 100%; display: block; overflow :hidden; resize: none; border: none; box-sizing: border-box; z-index: 900; position: relative }
.editor:focus { border: 0px; outline-offset: 0px }
.editbg {
	display: none; width: 100%; height: 100%; position: fixed; opacity: 0; background-color: white; transition: opacity 0.5s;
	left: 0px; top: 0px; z-index: 500; backface-visibility: hidden;
}

/* -- Editbar -- */

.bottombar {
	display: none; position: fixed; padding: 10px 20px; opacity: 0; background-color: rgba(255,255,255,0.9);
	right: 30px; bottom: 0px; z-index: 1000; transition: all 0.3s; transform: translateY(50px)
}
.bottombar.visible { transform: translateY(0px); opacity: 1 }
.publishbar { z-index: 990}
.publishbar.visible { display: inline-block; }
.editbar { perspective: 900px }
.markdown-help {
	position: absolute; bottom: 30px; transform: translateX(0px) rotateY(-40deg); transform-origin: right; right: 0px;
	list-style-type: none; background-color: rgba(255,255,255,0.9); padding: 10px; opacity: 0; transition: all 0.6s; display: none
}
.markdown-help.visible { transform: none; opacity: 1 }
.markdown-help li { margin: 10px 0px }
.markdown-help code { font-size: 100% }
.icon-help { border: 1px solid #EEE; padding: 2px; display: inline-block; width: 17px; text-align: center; font-size: 13px; margin-right: 6px; vertical-align: 1px }
.icon-help.active { background-color: #EEE }

/* -- Left -- */

.left { float: left; position: absolute; width: 220px; padding-left: 20px; padding-right: 20px; margin-top: 60px; text-align: right }
.right { float: left; padding-left: 60px; margin-left: 240px; max-width: 700px; padding-right: 60px; padding-top: 60px }

.left .avatar {
	background-color: #F0F0F0; width: 60px; height: 60px; border-radius: 100%; margin-bottom: 10px;
	background-position: center center; background-size: 70%; display: inline-block; image-rendering: pixelated;
}
.left h1 a.nolink { font-family: Tinos; display: inline-block; padding: 1px }
.left h1 a.editable-edit { float: none }
.left h2 { font-size: 15px; font-family: Tinos; line-height: 1.6em; color: #AAA; margin-top: 14px; letter-spacing: 0.2px }
.left ul, .left li { padding: 0px; margin: 0px; list-style-type: none; line-height: 2em }
.left hr { margin-left: 100px; margin-right: 0px; width: auto }
/*.left .links { width: 230px; margin-left: -60px }*/
.left .links.editor { text-align: left !important }

.lastcomments { background-color: #FAFAFA; margin-left: -25px; padding-right: 15px; padding-bottom: 5px; padding-top: 3px; margin-top: 40px; margin-right: -15px; display: none }
.lastcomments h3 { margin-top: 20px; }
.lastcomments .lastcomment { font-size: 85%; margin-top: 20px; margin-bottom: 30px; margin-left: 20px; overflow: hidden }
.lastcomments .lastcomment .user_name { font-weight: bold; }
.lastcomments .lastcomment .details { font-size: 90%; }
.lastcomments .lastcomment .details .at { color: #999 }
.lastcomments .lastcomment .details .postlink { border-bottom: 1px solid #BBB; }

/* -- Post -- */

.posts .new { display: none; position: absolute; top: -50px; margin-left: 0px; left: 50%; transform: translateX(-50%) }

.posts, .post-full { display: none; position: relative; }
.page-main .posts { display: block }
.page-post.loaded .post-full { display: block; border-bottom: none }


.post { margin-bottom: 50px; padding-bottom: 50px; border-bottom: 1px solid #eee; min-width: 500px }
.post .title a { text-decoration: none; color: inherit; display: inline-block; border-bottom: none; font-weight: inherit }
.posts .title a:visited { color: #666969 }
.post .details { color: #BBB; margin-top: 5px; margin-bottom: 20px }
.post .details .comments-num { border: none; color: #BBB; font-weight: normal; }
.post .details .comments-num .num { border-bottom: 1px solid #eee; color: #000; }
.post .details .comments-num:hover .num { border-bottom: 1px solid #D6A1DE; }
.post .details .like { display: inline-block; padding: 5px 5px; margin-top: -6px; border-radius: 7px; border: none; font-weight: normal; transition: all 0.3s }
.post .details .like .icon-heart:before, .post .details .like .icon-heart:after { background-color: #CCC; transition: all 0.3s }
.post .details .like .icon-heart { transform-style: preserve-3d; transition: all 0.3s }
.post .details .like:hover .icon-heart { transform: scale(1.1) }
.post .details .like:hover .icon-heart:before, .post .details .like:hover .icon-heart:after { background-color: #FF5442 }
.post .details .like.active .icon-heart:before, .post .details .like.active .icon-heart:after { background-color: #FF5442 }
.post .details .like.active .icon-heart-anim { transform: scale(1.8); opacity: 0; transition: all 1s ease-in-out }
.post .details .like .num { margin-left: 21px; color: #CCC; transition: all 0.3s }
.post .details .like:hover .num { color: #FA6C8D }
.post .details .like.loading { pointer-events: none; animation: bounce .3s infinite alternate ease-out; animation-delay: 1s; }
.post .body { font-size: 21.5px; line-height: 1.6; font-family: Tinos; margin-top: 20px }

.post .body h1 { text-align: center; margin-top: 50px }
.post .body h1:before { content: " "; border-top: 1px solid #EEE; width: 120px; display: block; margin-left: auto; margin-right: auto; margin-bottom: 50px; }

.post .body p + ul { margin-top: -0.5em }
.post .body li { margin-top: 0.5em; margin-bottom: 0.5em }
.post .body hr:first-of-type { display: none }

.post .body a img { margin-bottom: -8px }
.post .body img { max-width: 100% }
.post .body table { border-collapse: collapse; margin-bottom: 10px; margin: auto }
.post .body td, .post .body th { padding: 5px 10px; border: 1px solid #EEE; border-collapse: collapse; text-align: left }

code {
	background-color: #f5f5f5; border: 1px solid #ccc; padding: 0px 5px; overflow: auto; border-radius: 2px; display: inline-block;
	color: #444; font-weight: normal; font-size: 13px; vertical-align: text-bottom; border-bottom-width: 2px;
}
.post .body pre { table-layout: fixed; width: auto; display: table; white-space: normal; }
.post .body pre code { padding: 10px 20px; white-space: pre; max-width: 850px; display: block }

blockquote { border-left: 3px solid #333; margin-left: 0px; padding-left: 1em }
/*.post .more {
	display: inline-block; border: 1px solid #eee; padding: 10px 25px; border-radius: 26px; font-size: 11px; color: #AAA; font-weight: normal;
	left: 50%; position: relative; transform: translateX(-50%);
}*/

.post .more { border: 2px solid #333; padding: 10px 20px; font-size: 15px; margin-top: 30px; display: none; transition: all 0.3s }
.post .more .readmore {  }
.post .more:hover { color: white; box-shadow: inset 150px 0px 0px 0px #333; }
.post .more:active { color: white; box-shadow: inset 150px 0px 0px 0px #AF3BFF; transition: none; border-color: #AF3BFF }

.pager { margin-bottom: 200px }
.pager a { border: 2px solid #333; padding: 10px 20px; font-size: 15px; display: none; transition: all 0.3s }
.pager a:hover { color: white; box-shadow: inset 150px 0px 0px 0px #333; }
.pager a:active { color: white; box-shadow: inset 150px 0px 0px 0px #AF3BFF; transition: none; border-color: #AF3BFF }
.pager .next { float: right }
.pager .prev:hover { box-shadow: inset -150px 0px 0px 0px #333; }
.pager .prev:active { box-shadow: inset -150px 0px 0px 0px #AF3BFF; }

.zoom-img {
	filter: none; -webkit-filter: blur(0px); -moz-filter: blur(0px); -ms-filter: blur(0px); filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
	backface-visibility: hidden; transform: translateZ(0); image-rendering: optimizeSpeed;
}
/* Score */
/*
.score {
	border: 1px solid #eee; margin-right: 5px; margin-left: 5px; padding: 2px 7px; border-radius: 10px; color: #AAA; background-position: left center; font-weight: bold; font-size: 12px;
	display: inline-block; height: 1.2em; overflow: hidden; vertical-align: -0.5em; line-height: 7px; transition: background-color 0.3s; height: 20px; box-sizing: border-box
}
.score-active, .score-inactive { transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); display: inline-block; margin-top: 3px }
.score-active { display: block; margin-top: 5px }
.score.active { background-color: #2ecc71; color: white }
.score.loading {
	color: rgba(255,255,255,0) !important; background: #2ecc71 url(../img/loading.gif) no-repeat center center;
	transition: background 0.5s ease-out; pointer-events: none; border: 1px solid #2ecc71
}

.score.active .score-inactive, .score:hover .score-inactive { transform: translateY(-14px); opacity: 0.5 }
.score.active .score-active, .score:hover .score-active { transform: translateY(-14px) }
.score:hover, .score.active { border: 1px solid #2ecc71; color: #AAA; }

.score:active {  border: 1px solid #AAA !important; transform: translateY(1px) }

.noscore .score-inactive .icon-up { margin-left: 6px }
.noscore .score-inactive .score-num { display: none }
*/

@keyframes bounce {
	  0% { transform: translateY(0); }
	100% { transform: translateY(-3px); }
}
